# Arquivos e pastas comuns para ignorar em projetos Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.sqlite3
*.db
*.csv
*.tsv
*.xls
*.xlsx
*.pdf
*.json
*.zip
*.tar.gz
*.bak
*.swp
.cache/
.env
venv/
.envrc
.idea/
.vscode/
*.spec
*.exe
installer/
exports/
logs/
.cache/
.DS_Store
Thumbs.db
